.module-block {
	border: solid 2px #dadada;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.container > .row {
    margin-top: 20px;
}

.form-control {
    height: 60vh !important;

}

.disk_byte {
width: 12.5%;
padding: 0px;

}

.container > .row > .col-md-4 {
padding-right: 10px;
padding-left: 10px;
}

.row-buttons {
margin-top: 10px;
}

.row-control{
    border-top: solid 2px #dadada;
    padding-top: 15px;
}

.msg-box {
    height: 60vh;
    overflow-y: scroll;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.msg-block {
    background-color: #eaeaea;
    margin: 20px 0;
    padding: 10px;
}
.head .col-md-6 {
    background-color: #eaeaea;
}
.head a {
    text-decoration: none;
    display: block;
    line-height: 3em;
    text-align: center;
    color: #333333;
}
.head a:hover {
    background-color: #ffffff;
}

.grammar-text {
    overflow-x: scroll;
    white-space: nowrap;
}