<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{title}} - эмулятор</title>
    {% else %}
    <title>Эмулятор</title>
    {% endif %}
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/main.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <div class="row head">
        <div class="col-md-6"><a href="/">Эмулятор</a></div>
        <div class="col-md-6"><a href="/grammar/">Грамматика</a></div>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
            <li>
                {{ message }}
            </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    {% block content%}{% endblock %}
</body>
</html>