{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6"><h2>Правила грамматики</h2></div>
        <div class="col-md-6"><h2>Дерево разбора</h2></div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <textarea class="form-control grammar-text" >{{grammar_code}}</textarea>
        </div>
        <div class="col-md-6">
            <textarea class="form-control grammar-text"  >{{tree_code}}</textarea>
        </div>
    </div>
    <div class="row">

    </div>
</div>

{% endblock %}