{% extends 'base.html' %}
{% block content %}
<div class="container">
<h1>Эмулятор работы технологических объектов</h1>
    <div class="row">
        <div class="col-md-8"><h2>Код программы</h2></div>
        <div class="col-md-4"><h2>Окно сообщений</h2></div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <textarea class="form-control" id="program-code"></textarea>
        </div>
        <div class="col-md-4 msg-box"></div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <button type="button" class="btn btn-default btn-lg" id="gen-button">Сгенерировать</button>
            <button type="button" class="btn btn-default btn-lg" style="display:none;" id="start-button">Запустить</button>
            <button type="button" class="btn btn-default btn-lg" style="display:none;" id="kill-button">Остановить</button>
        </div>
        <div class="col-md-4"><button type="button" class="btn btn-default btn-lg" id="clear">Очистить</button></div>
    </div>
    <div class="row">

    </div>
</div>

{% endblock %}