{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12"><h2>Код для лексического анализа</h2></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <textarea class="form-control lexer-text" ></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <textarea class="form-control result" ></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4"><button type="button" class="btn btn-default btn-lg" id="lexer-gen">Сгенерировать</button></div>
    </div>
</div>

{% endblock %}